.column {
  list-style: none;
  display: grid;
  grid-auto-rows: 1.8rem;
  grid-row-gap: 0.2rem;
  font-size: 0.85rem;
}

.column li {
  border-radius: 5px;
  border: 2px solid var(--black);
}

.column button {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1.8em minmax(auto, 4em);
  grid-template-rows: 100%;
  grid-column-gap: 0.6rem;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 0.2rem;
}

.imgContainer {
  width: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column img {
  max-width: 1.8em;
  max-height: 1.8em;
}

.column span {
  text-align: left;
  white-space: nowrap;
}

@media only screen and (max-width: 760px) {
  .column {
    font-size: 0.55em;
  }

  .column button {
    grid-column-gap: 0.5em;
  }
}

