:root {
  --toonup: #c68bef;
  --trap: #e9ef57;
  --lure: #32ab2e;
  --sound: #4649e4;
  --throw: #f2711c;
  --squirt: #f117ba;
  --drop: #25e9f0;
  --gag-bg-blue: #2d9ae3;
  --lightgrey: #f3f3f3;
  --mediumgrey: #313131;
  --darkgrey: #262626;
  --black: #181818;
  --gag-shadow-blue: #1c78b2;
  --gag-highlight-blue: #8cd1ff;
}

html[data-theme="light"] {
   --color-bg: var(--lightgrey);
   --color-fg: var(--black);
}

html[data-theme="dark"] {
   --color-bg: var(--mediumgrey);
   --color-fg: var(--lightgrey);
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/gags_pattern.png");
  background-repeat: repeat;
  background-size: 15em;
  background-color: var(--color-bg);
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-fg);
}

html[data-theme="dark"] body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none; /* Ensure it doesn't block interaction */
  z-index: -1;
}

#root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--gag-bg-blue);
}

#light-dark-mode-toggle {
  margin-left: 1rem;
  height: 1.5rem;
  width: 1.5rem;
}

button {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
}

button:not([disabled]) {
  cursor: pointer;
}

button:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#not-found {
  flex-direction: column;
  height: 100%;
  font-size: 1.3rem;
}

.no-drag {
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

