:root {
  --toonup: #c68bef;
  --trap: #e9ef57;
  --lure: #32ab2e;
  --sound: #4649e4;
  --throw: #f2711c;
  --squirt: #f117ba;
  --drop: #25e9f0;
  --gag-bg-blue: #2d9ae3;
  --lightgrey: #f3f3f3;
  --mediumgrey: #313131;
  --darkgrey: #262626;
  --black: #181818;
  --gag-shadow-blue: #1c78b2;
  --gag-highlight-blue: #8cd1ff;
}

html[data-theme="light"] {
   --color-bg: var(--lightgrey);
   --color-fg: var(--black);
}

html[data-theme="dark"] {
   --color-bg: var(--mediumgrey);
   --color-fg: var(--lightgrey);
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/gags_pattern.png");
  background-repeat: repeat;
  background-size: 15em;
  background-color: var(--color-bg);
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-fg);
}

html[data-theme="dark"] body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none; /* Ensure it doesn't block interaction */
  z-index: -1;
}

#root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  background: var(--black);
  color: var(--lightgrey);
}

main {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

#nav-content {
  display: flex;
  align-items: center;
}

#nav-logo {
  width: 30px;
  height: 30px;
  margin: 0 0.3rem;
}

#nav-title {
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--lightgrey);
  margin-right: 1rem;
}

#nav ul {
  margin-left: 0.3rem;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

#nav li {
  list-style: none;
}

a {
  color: var(--gag-bg-blue);
}

#nav a {
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
}

.navlink-sep {
  height: 1.4rem;
  width: 1px;
  background: var(--lightgrey);
  margin: 0 0.6rem;
}

#light-dark-mode-toggle {
  margin-left: 1rem;
  height: 1.5rem;
  width: 1.5rem;
}

#version-info {
  font-size: 0.9rem;
  margin-bottom: 2rem;
  font-style: italic;
}

#combo-grid {
  margin-top: 0.5rem;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

#combos {
  display: grid;
  grid-template-columns: min-content auto;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

button {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
}

button:not([disabled]) {
  cursor: pointer;
}

button:focus:not(:focus-visible) {
  outline: 0 !important;
  box-shadow: none !important;
}

ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  text-align: center;
}

.combo-cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.combo {
  display: grid;
  grid-template-columns: 25px auto;
  grid-template-rows: 30px;
  align-items: center;
}

.combo-cell .combo:not(:last-child) {
  margin-bottom: 2px;
}

.gags {
  display: flex;
  align-items: center;
  height: 100%;
}

.combo-dmg {
  font-size: 0.8rem;
  margin-right: 8px;
}

#cog-lvl-column {
  display: grid;
  grid-template-rows: repeat(20, 140px);
}

.cog-lvl-cell {
  width: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.cog-icon-container {
  width: 60px;
  margin-bottom: 4px;
  position: relative;
}

.cog-lvl-cell img {
  width: 100%;
}

.cog-lvl {
  font-size: 1.4rem;
  font-weight: 500;
}

.cog-hp {
  font-size: 0.8rem;
}

.hp {
  font-size: 0.3rem;
  margin-left: 2px;
}

#combos-grid {
  display: grid;
  grid-column-gap: 20px;
  width: 100%;
  overflow-x: auto;;
  overflow-y: hidden;
  padding: 0 1rem;
}

.gag-icon-container {
  width: 30px;
  height: 100%;
  text-align: center;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 5px;
}

.gag-icon-container span,
.cog-icon-container span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.3em;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.cog-icon-container span {
  bottom: unset;
  top: 0;
}

.gag-icon {
  max-width: 30px;
  max-height: 30px;
}

.org-gag-track-list {
  list-style: none;
  display: grid;
  grid-auto-rows: 1.8rem;
  grid-row-gap: 0.2rem;
  font-size: 0.85rem;
}

.org-gag-track-list li {
  border-radius: 5px;
  border: 2px solid var(--black);
}

.org-gag-track-list button {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1.8em minmax(auto, 4em);
  grid-template-rows: 100%;
  grid-column-gap: 0.6rem;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 0.2rem;
}

.org-gag-track-list .img-container {
  width: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.org-gag-track-list img {
  max-width: 1.8em;
  max-height: 1.8em;
}

.org-gag-track-list span {
  text-align: left;
  white-space: nowrap;
}

#org-selection-container {
  display: block;
  max-width: 40em;
  width: 98%;
  margin: 0 auto;
}

#org-selection-header {
  display: flex;
}

.toon-num {
  margin: 0.3em 0;
  text-align: center;
  font-size: 0.9em;
}

#org-selection-header h4 {
  margin: 0 auto 0.3em 0;
  width: min-content;
  white-space: nowrap;
}

.org-selection-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1em;
}

#org-selection-container {
  margin-top: 0.5rem;
}

#expand-org {
  border-radius: 5px;
  border: 2px solid var(--black);
  height: 1.6rem;
  padding: 0 0.5rem;
  background: var(--color-bg);
}

#is-cog-lured {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

#is-cog-lured button, #clear-selection {
  border-radius: 5px;
  border: 2px solid var(--black);
  font-size: 0.9em;
  padding: 0 0.5rem;
  background: var(--color-bg);
}

#is-cog-lured button {
  display: flex;
  align-items: center;
  height: 100%;
}

#is-cog-lured img {
  max-height: 1.8em;
  max-width: 1.8em;
  margin-right: 0.9em;
}

#combo-grid-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  margin: 0.3rem 0;
}

#combo-grid-settings label {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 760px) {
  .org-gag-track-list {
    font-size: 0.55em;
  }

  .org-gag-track-list button {
    grid-column-gap: 0.5em;
  }

  .org-selection-list {
    grid-column-gap: 0.2em;
  }

  #org-selection-header {
    font-size: 0.8em;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#not-found {
  flex-direction: column;
  height: 100%;
  font-size: 1.3rem;
}

#calc-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem 0 0.5rem;
  height: 100%;
}

#calc-page-how-to {
  margin: auto 1rem 0.5rem 1rem;
  padding: 1rem 0;
  font-size: 0.9rem;
}

#calc-gag-grid {
  display: grid;
  grid-template-rows: repeat(7, 50px) calc(50px + 0.5rem);
  width: 100%;
  max-width: 650px;
}

.calc-gag-row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 0.4rem;
  padding: 0.4rem;
  gap: 0.5rem;
  width: 100%;
  border-radius: 5px;
  box-shadow: inset 0 -8px 0 rgba(5, 5, 5, 0.15);
}

.calc-gag-row-track-label {
  grid-column: span 2;
  white-space: nowrap;
  margin-top: 0.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  color: var(--black);
}

.calc-gag-grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gag-bg-blue);
  border-radius: 5px;
  border-top: 1.5px solid var(--gag-highlight-blue);
  border-bottom: 1.5px solid var(--gag-shadow-blue);
  outline: 2px solid var(--gag-shadow-blue);
  box-shadow: inset 0 0 6px var(--gag-highlight-blue),
    0 2px 3px var(--mediumgrey);
}

.calc-gag-grid-cell:hover {
  box-shadow: inset 0 -1px 9px 2px var(--gag-highlight-blue),
    0 0px 0px var(--gag-shadow-blue);
  border-bottom: 1px solid var(--gag-shadow-blue);
}

.calc-gag-grid-cell img {
  aspect-ratio: 1 / 1;
  max-width: min(70%, 30px);
  max-height: 30px;
  object-fit: contain;
  display: block;
}

.sos-toons {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  padding: 0.4rem;
  gap: 0.4rem;
  background: var(--gag-bg-blue);
  margin-top: 0.5rem;
  border-radius: 5px;
}

.sos-toons .calc-gag-grid-cell {
  background: var(--lightgrey);
  position: relative;
}

.sos-toon-gag-icon {
  position: absolute;
  bottom: 1px;
  right: 1px;
  max-height: 45% !important;
  max-width: 45% !important;
}

#cogs-hp {
  border-collapse: collapse;
  margin: 1rem 0;
}

.cogs-hp-cell {
  border: 2px solid var(--black);
  text-align: center;
  padding: 0.2rem;
  background: var(--color-bg);
}

html[data-theme="dark"] .cogs-hp-cell {
  border: 2px solid var(--color-bg);
  background: var(--black);
}

.cogs-hp-lvl {
  font-size: 1.3rem;
}

.cogs-hp-hp {
  font-size: 0.8rem;
}

.cogs-hp-remaining {
  font-size: 0.7rem;
}

#additional-gag-multiplier {
  margin-bottom: 1rem;
}


html[data-theme="dark"] #additional-gag-multiplier {
  background: var(--black);
  color: inherit;
}

#combo-info {
  max-width: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#clear-gags-btn {
  background: var(--gag-bg-blue);
  color: var(--lightgrey);
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  margin: 0.5rem 0;
  align-self: flex-start;
}

#combo-info-result {
  width: 100%;
  border: 4px solid var(--gag-bg-blue);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 120px 1fr;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 0.7rem;
  background: var(--color-bg);
}

#combo-info-result-dmg-label {
  font-size: 0.7rem;
  display: block;
}

#combo-info-result-dmg {
  font-size: 1.8rem;
  font-weight: bold;
}

.multi-trap-warning {
  color: #ef4444;
}

#selected-gags {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

.selected-gag {
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background: var(--color-bg);
}

.selected-gag-img-and-name {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.selected-gag img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  display: block;
}

.selected-gag-name {
  white-space: nowrap;
}

.selected-gag-base-dmg {
}

.selected-gag-lvl-mod {
  color: var(--lightgrey);
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 0.7rem;
}

.selected-gag-img-container,
.selected-org-img-container,
.selected-gag-lvl-mod-img-container
{
  background: var(--gag-bg-blue);
  padding: 0.2rem;
  border-radius: 5px;
  position: relative;
}

.selected-gag-lvl-mod-img-container {
  border-radius: 5px;
}

.selected-org-img-container img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  display: block;
}

.select-gag-multipliers {
  font-size: 0.8rem;
}

.no-drag {
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#about-page {
  margin: 1rem;
  max-width: 800px;
  align-self: center;
}

#von-family-photo,
#mr-von-toon-info {
  max-width: 100%;
  max-height: 600px;
  border: 4px solid var(--black);
  border-radius: 5px;
}

.about-img-container {
  margin-top: 1rem;
  text-align: center;
}

#about-page a {
  color: var(--gag-bg-blue);
  font-weight: bold;
}

@media (max-width: 570px) {
  .calc-gag-row-track-label {
    font-size: 0.7rem;
  }

  .selected-gag-img-and-name,
  .select-gag-multipliers {
    font-size: 0.6rem;
  }

  .cogs-hp-lvl {
    font-size: 1.1rem;
  }

  #nav-title {
    display: none;
  }
}

